.idea
data/wider_face_add_lm_10_10

__pycache__/
*.py[cod]
*$py.class

detect_imgs_results
detect_imgs_results_onnx
widerface_evaluation

widerface_evaluate/build
widerface_evaluate/*.so
widerface_evaluate/*.c